<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="book-index-single">
          <h2 class="book-author">
            タイトル：<%= @book.title %>
          </h2>
          <%= image_tag @book.image.url, class: "index-image" %>
          <div class= show-genre>
            ジャンル：<%= @book.genre %>
          </div>
          <div class= show-descriprion>
            コメント：<%= @book.description %>
          </div>
          <%=link_to edit_book_path do %>
            <%= "修正" %>
          <% end %>
          <%=link_to book_path, method: :delete do %>
            <%= "削除" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>